.container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: flex-start;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.leftCol {
    flex: 0 0 300px;
    background-color: #fff;
    padding: 1.5rem;
}

.avatar {
    margin-bottom: 1rem;
}

.leftCol h1 {
    margin: 0 0 0.5rem 0;
    font-size: 1.25rem;
    color: var(--primary-color);
}

.container p {
    margin: 4px !important;
    font-size: 0.95rem;
    line-height: 1.1;
}


.rightCol {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    overflow-x:hidden;
    max-width: 100%;
}

@media (max-width: 600px) {
     .rightCol  {
        flex: 1 1 100%;
        max-width: 100%;
    }
}